name: Publish Test App

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'ios/**'
      - 'readme.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout sources
        uses: actions/checkout@v3

      - name: use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 21

      - name: install dependencies
        run: npm ci

      - name: build Nuxt project
        run: npm run generate

      - name: copy to Android project
        run: npx cap sync

      - name: build Android app
        run: ./android/gradlew :app:assembleExov2Debug :app:assembleMedia3Debug -p android --no-daemon

      - name: rename apks
        run: |
          build="$(date +%Y%m%d-%H%M%S)-$(git rev-parse --short HEAD)"
          for variant in exov2 media3; do
            dir="android/app/build/outputs/apk/${variant}/debug"
            if [ -d "${dir}" ]; then
              for apk in "${dir}"/*.apk; do
                name="audiobookshelf-${variant}-${build}.apk"
                mv -v "${apk}" "${dir}/${name}"
              done
            fi
          done

      - name: prepare test page ressources
        run: |
          mkdir -p ghpages
          find android/app/build/outputs/apk -path '*debug/*.apk' -exec cp {} ghpages/ \;
          cp static/Logo.png ghpages/logo.png
          cp .github/testing-page-template.html ghpages/index.html

      - name: build test page
        working-directory: ghpages
        run: |
          sed -i "s/__DATE__/$(date)/g" index.html
          sed -i "s/__COMMIT__/$(git rev-parse --short HEAD)/g" index.html
          sed -i "s/__APK__/$(ls *apk)/g" index.html

      - name: upload test page artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./ghpages

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
